# Id de las carpetas de google drive
FASE0_FOLDER_ID="*********************************"       #F00_DATA
FASE1_FOLDER_ID="*********************************"       #F01_EXPLORE
FASE2_FOLDER_ID="*********************************"       #F02_PREPAREEVENTSDS
# FASEE3_FOLDER_ID="*********************************"       # 03_PREPAREWINDOWSDS   
# FASEE4_FOLDER_ID="*********************************"       # 04_TARGETENGINEERING  
# FASEE5_FOLDER_ID="*********************************"       # 05_MODELING
# FASEE6_FOLDER_ID="*********************************"       # 06_PACKAGING
# FASEE7_FOLDER_ID="*********************************"       # 07_DEPLOYRUN

# Credeciales de gdrive noraml:
GDRIVE_CLIENT_ID="*********************************"
GDRIVE_CLIENT_SECRET="*********************************"

# Service account:
# GOOGLE_APPLICATION_CREDENTIALS=./gdrive/service_account.json